<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table class="table table-bordered">

    <tr>
        <th>Name</th>
        <th>Surname</th>
        <th>Age</th>
        <th>Mail</th>
    </tr>m
    <tr th:each="user: ${userDtos}" th:object="${user}">
        <td th:text="*{name}"></td>
        <td th:text="*{#strings.toUpperCase(surname)}"></td>
        <td th:text="*{age}"></td>
        <td th:text="*{mail}"></td>
    </tr>



</table>
</body>
</html>