<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home | Book List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>

<a class="mt-2 ml-2 btn btn-primary" href="new">Add New Book</a>
<a class="mt-2 ml-1 btn btn-primary" href="new-author">Add New Author</a>
<a class="mt-2 ml-1 btn btn-primary" href="new-publisher">Add New Publisher</a>

<br><br>

<table>
    <tr>
        <form th:action="@{/list-bookname}">
            <div class="ml-2 form-group">
               <td>Filter With Book Name :</td>
                <td><input type="text" name="bname" required></td>
                <td><input type="submit" value="Search"></td>
            </div>
        </form>
    </tr>
    <tr>
        <form action="#" th:action="@{/list-serialname}">
            <div class="ml-2 form-group">
                <td>Filter With Book Serial Name :</td>
                <td><input type="text" name="book_serial_name" required></td>
                <td><input type="submit" value="Search"></td>
            </div>
        </form>
    </tr>
    <tr>
        <form action="#" th:action="@{/list-isbn}">
            <div class="ml-2 form-group">
                <td>Filter With ISBN Number :</td>
                <td><input type="text" name="isbn_number" required></td>
                <td><input type="submit" value="Search"></td>
            </div>
        </form>
    </tr>
</table>

<br>

<table style="align-content: center" border="1" class="table table-striped">
    <tr>
        <th>Book Name</th>
        <th>Book Description</th>
        <th>Book Isbn Number</th>
        <th>Book Serial Name</th>
        <th>Author</th>
        <th>Publisher</th>
        <th>Actions</th>
    </tr>
    <br>
    <tr th:each="book: ${bookList}">
        <td th:text="${book.bookName}">Book Name</td>
        <td th:text="${book.bookDescription}">Book Description</td>
        <td th:text="${book.isbnNumber}">Book Isbn Number</td>
        <td th:text="${book.bookSerialName}">Book Serial Name</td>
        <td th:text="${book.author.authorName}">Author</td>
        <td th:text="${book.publisher.publisherName}">Book Serial Name</td>
        <td>
            <a class="btn btn-warning" th:href="@{'/update/' + ${book.id}}">Update</a>
            <a class="btn btn-primary" th:href="@{'/delete/' + ${book.id}}">Delete</a>
            <a class="btn btn-secondary" th:href="@{'/detail/' + ${book.id}}">Detail</a>
        </td>
    </tr>
</table>
</body>
</html>